body {
    background: #E8EAF4;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.screen {
    margin: 32px auto 0px;
    border-radius: 16px;
    background: #1D223F;
    box-shadow: 0px 0px 16px 0px #1D223F;
    height: 88vh;
    width: 64vw;
    display: flex;
    flex-direction: column;
    position: relative;
}

.loading {
    width: 100%;
    height: 100%;
    background: #1D223F;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 30% auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.panel {
    height: 48px;
    width: 100%;
    border-radius: 0px 0px 16px 16px;
    background: #DEE2F4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0px;
}

.input {
    border: none;
    background: inherit;
    padding: 0px 16px;
    width: 80%;
    border-radius: 0px 0px 0px 16px;
    height: 100%;
    font-size: 16px;
}

.btn {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #0E1228;
    color: #E8EAF4;
    width: 120px;
    border: none;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #373b56;
}

.messages {
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 90%;
}

.my-message {
    align-self: flex-end;
}

.messages-item {
    margin-bottom: 8px;
    max-width: 60%;
}

.messages-item div {
    display: inline-block;
    border-radius: 8px;
    background: #333A5F;
    padding: 10px;
    color: #E8EAF4;
    max-width: 100%;
}

// сообщения справа мои